.diagram-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.line {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: black;
}

.marble-container {
  display: flex;
  align-items: center;
  position: absolute;
}

.marble {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0 10px;
  z-index: 1;
}

.arrow-container {
  position: absolute;
  right: 10%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
}
